.active{
    font-weight: bolder;
    color: blueviolet;
}

.enlaces{
    margin-left: 20%;
    text-decoration: none;
}

.formInicio{
    text-decoration: none;
    margin-left: 15%;
}

.logo{
    text-align: center;
    text-decoration: none;
    color: rgb(49, 182, 212);
    border-style:groove
}